/RoadToSenior/.vs
/RoadToSenior/RoadToSenior/bin
/RoadToSenior/RoadToSenior/obj
/RoadToSenior/1.RoadToSenior.Api/bin
/RoadToSenior/1.RoadToSenior.Api/obj
/RoadToSenior/1.RoadToSenior.Api/Properties/PublishProfiles
/RoadToSenior/2.RoadToSenior.Auth0/bin
/RoadToSenior/2.RoadToSenior.Auth0/obj
